<div class="timespan">
    <label data-bind="text: days.displayName"></label>
    <input type="number" name="days" data-bind="value: days" />
    <label data-bind="text: hours.displayName"></label>
    <input type="number" name="hours" data-bind="value: hours" />
    <label data-bind="text: minutes.displayName"></label>
    <input type="number" name="minutes" data-bind="value: minutes" />
    <label data-bind="text: seconds.displayName"></label>
    <input type="number" name="seconds" data-bind="value: seconds" />
</div>