<div class="container">
    <h1>About Page</h1>
</div>

<div class="container">
    Megnéztük, milyen tervei vannak a demokrata Hillary Clintonnak és a republikánus Donald Trumpnak a techszektorral. A két jelölt a legtöbb kérdésben nagyon mást gondol arról, mit kéne vele kezdeni, de még ennél is nagyobb a különbség abban, hogy egyáltalán milyen súllyal kezelik a kérdést. Az idei elnökválasztás az ágazat képviselőiből is szokatlanul erőteljes reakciókat váltott ki. Clintonnak újra fájhat a feje, hogy külügyminiszterként magasról tett a biztonságos emailezésre, de még így is népszerűbb, mint az orosz kiberbűnözőkkel viccelődő ellenfele.
</div>