<form class="form-horizontal" data-bind="submit: submit">
    <div class="form-group">
        <label class="col-md-4 control-label" for="identity-login-email" data-bind="text: email.displayName"></label>
        <div class="col-md-8">
            <input class="form-control" id="identity-login-email" type="email" name="email" data-bind="value: email" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="identity-login-password" data-bind="text: password.displayName"></label>
        <div class="col-md-8">
            <input class="form-control" id="identity-login-password" type="password" name="password" data-bind="value: password" />
        </div>
    </div>
    <div class="form-group text-center">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>