<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="@System.Globalization.CultureInfo.CurrentUICulture.Name">
<head>
    <title>Partnerinfo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link type="image/ico" rel="shortcut icon" href="~/favicon.ico" />
    <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,700" />
    <link type="text/css" rel="stylesheet" href="~/dist/bootstrap.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()
    <script src="~/dist/bootstrap.js" asp-append-version="true"></script>
    @RenderSection("scripts", false)
</body>
</html>